img {
    width: 100%;
}

body {
    overflow-x: hidden;
    font-family: 'Nunito Sans';
    color: hsl(209, 23%, 22%);
}

#spinner {
    position: fixed;
    width: 10%;
    top: 50%;
    left: 45%;
}

input {
    padding: 10px;
    margin-top: 10px;
}

#light {
    display: none;
}

#enter {
    width: 40%;
}

#send {
    width: 20%;
}

@media(max-width:450px) {
    input {
        width: 100%!important;
    }
    #spinner {
        width: 20%;
    }
    .row {
        margin-right: 0px!important;
        margin-left: 0px!important;
    }
}